<div class="profile_container">
    <div class="user_info">
     	<div class = "container">
			<div class="row">
	  			<div class="span3">
	    			<div class="thumbnail">
	      				<img src="<%= gravatar_for(current_user) %>" alt="..." height="100%" width="100%"/>	    
	    			</div>
	  			</div>
	  			<div class="span6">
	    			<div class = "user_name">
	      				<b><%= current_user.username %></b>
	    			</div>
	    			<div class="row">
	      				<div class="user_name_tags span2">
	        				<b>Games Owned:</b><%= current_user.games.size %>
	      				</div>
	      				<div class="user_name_tags span3">
	        				<b>Email: </b><%= current_user.email %>
	      				</div>
	    			</div>
	  			</div>
			</div>
    	</div>
    </div>


    <div class="container">
    	<div class="row">
    		<% current_user.games.each do |game| %>

        		<div class="game-thumb-cont span2">
	   				<a href="<%= game_path(game) %>" class="game-thumbnail thumbnail">
            			<img src="<%= game.image_url %>" alt="..." />
	    				<div class = "thumbnail_title">
            				<%= game.title %>
            			</div>
           			</a>
        		</div>
        	<% end %>
        </div>
    </div>
</div>

