<div class="profile_container">
    <div class="user_info">
        <div class = "container">
            <div class="row">
                <div class="span3">
                    <div class="thumbnail">
                        <img src="<%= gravatar_for(current_user) %>" alt="..." height="100%" width="100%"/>     
                    </div>
                </div>
                <div class="span6">
                    <div class = "user_name">
                        <b>Hello, <%= current_user.name %>!</b>
                    </div>
                    <div class="row">
                        <div class="user_name_tags span2">
                            <b>Username: </b><%= current_user.username %>
                        </div>
                        <div class="user_name_tags span3">
                            <b>Email: </b><%= current_user.email %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="user_name_tags span2">
                            <b>Games Added: </b><%= current_user.games.size %>
                        </div>
                        <div class="user_name_tags span2">
                            <b>Price Alerts Set: </b><%= current_user.alerts.size %> 
                        </div>
                    </div>
                    <div>
                        <%= link_to "Edit Profile", edit_user_path(current_user) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h5> Your Games </h5>
        <% if current_user.games.size == 0 %>
            <p> No games to show. </p>
        <% else %>
            <% @arrays = UsersHelper.get_games_in_groups(current_user) %>
            <% @arrays.each do |row| %>
                <div class="row">
                    <% row.each do |game| %>
                        <div class="game-thumb-cont span2">
                            <a href="<%= game_path(game) %>" class="game-thumbnail thumbnail">
                                <img src="<%= game.image_url %>" alt="..." />
                                <div class = "thumbnail_title">
                                    <%= game.title %>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>

    <div class="container">
        <h5> Your Price Alerts </h5>

        <% if current_user.alerts.size == 0 %>
            <p> You have not added any price alerts</p>
	<% else %>
	    <% @arrays = UsersHelper.get_alerts_in_groups(current_user) %>
            <% @arrays.each do |row| %>
                <div class="row">
                    <% row.each do |alert| %>
			<% alert_game = Game.find(alert.game_id) %>
                        <div class="game-thumb-cont span2">
                            <a href="<%= game_path(alert_game) %>" class="game-thumbnail thumbnail">
                                <img src="<%= alert_game.image_url %>" alt="..." />
                                <div class = "thumbnail_title">
                                    <%= alert_game.title %>
                                </div>
                            </a>
			    <div class = "alert_container">
			    <% if signed_in? %>
                        	$<%= alert.threshold %> <button data-toggle = "modal" data-target = "#editModal"> Edit </button>
			    </div>
			    <div class = "alert_button">
                        	<%= button_to "Delete", alert_path(alert), :method => :delete, :confirm => "Are you Sure?" %>
			    </div>
                   	    <% end %>
                   	    <% @alert = alert %>
                    	    <%= render 'shared/editModal'%>
                        </div>
			
                    <% end %>
                </div>
            <% end %>
        <% end %>

        
    </div>
</div>
