<div class="profile_container">
    <div class="user_info">
        <div class = "container">
            <div class="row">
                <div class="span3">
                    <div class="thumbnail">
                        <img src="<%= gravatar_for(current_user) %>" alt="..." height="100%" width="100%"/>     
                    </div>
                </div>
                <div class="span6">
                    <div class = "user_name">
                        <b><%= current_user.username %></b>
                    </div>
                    <div class="row">
                        <div class="user_name_tags span2">
                            <b>Games Owned:</b><%= current_user.games.size %>
                        </div>
                        <div class="user_name_tags span3">
                            <b>Email: </b><%= current_user.email %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h5> Your Games </h5>
        <% if current_user.games.size == 0 %>
            <p> No games to show. </p>
        <% else %>
            <% @arrays = UsersHelper.get_games_in_groups(current_user) %>
            <% @arrays.each do |row| %>
                <div class="row">
                    <% row.each do |game| %>
                        <div class="game-thumb-cont span2">
                            <a href="<%= game_path(game) %>" class="game-thumbnail thumbnail">
                                <img src="<%= game.image_url %>" alt="..." />
                                <div class = "thumbnail_title">
                                    <%= game.title %>
                                </div>
                            </a>
                        </div>
                    <% end %>
                </div>
            <% end %>
        <% end %>
    </div>

<div class="container">
<h5> Your Price Alerts </h5>
<% if current_user.alerts.size == 0 %>
    <p> You have not added any games to your collection </p>
<% end %>
<% current_user.alerts.each_with_index do |alert, i| %>
    <% alert_game = Game.find(alert.game_id) %>
    <div class="SearchResult row">
            <div class="span1 boxArt">
                <img src="<%= alert_game.image_url%>"> </img>
            </div>

            <div class = "span8 display">
                <div class = "row">
                    <div class = "span7 gameTitle">
                        <h4>
                            <%= link_to alert_game.title, :controller => "game", :action => "show", :id => alert_game.id %>
                        </h4>
                    </div>
                    <div class = "pull-right releaseDate">
                        <span class="label label-default"><%= alert_game.release_date%></span>
                    </div>
                </div>
                <div class = "description" id = "dot1">
                    <%= alert_game.description%>
                </div>
                <div class = "labels">
                    <div class="pull-left">

                        <span class="label label-info"> Theshold = <%= alert.threshold %></span>
                        
                    </div>  
                    <div class="pull-right">
                        <% alert_game.genres.each do |genre| %>
                            <span class="label label-info"><%= genre %></span>
                        <% end %>
                    </div>         
                </div>
                <br />
                <% if signed_in? %>
                    <button data-toggle = "modal" data-target = "#editModal"> Edit </button>

                    <%= button_to "Delete", alert_path(alert), :method => :delete, :confirm => "Are you Sure?" %>

                <% end %>
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="myModalLabel">Edit Threshold</h4>
                             </div>
                            <div class="modal-body">
                                
                                <%= form_for(alert)  do |alrt| %>
                                <%= alrt.label :threshold %>
                                <%= alrt.number_field :threshold, class: "form-control"  %>
                                <%= alrt.submit "Change Threshold", class: "btn btn-primary " %>
                                <% end %>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
<% end %>
</div>
</div>